body{
    background: white;
}

header{
    background-color: white;
    z-index: 1;
}

main{
    margin-top: 200px;
    display: block;
}

#welcome-bar{
    width: 60%;
    margin: auto;
    box-shadow: 0px 2px 5px 2px black;
}

.blog{
    width: 90%;
    height: 90%;
    margin: 50px auto;
    position: relative;
    text-align: center;
    padding: 20px;
    display: none;
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

p{
    margin: 0px 100px 20px 100px;
}

img{
    width: 600px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 5px 1px black;
}

#blog-pagetitle{
    font-size: 30px;
}

#hrBlogTop{
    /* text-align: center; */
    border: none;
    border-top: 1px solid black;
    box-shadow: 0px -50px 35px 35px rgba(250, 58, 0, 75%); 
}

#blog-nav{
    background-color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    
}

#blog-nav li{
    /* height: 30px; */
    /* width: 200px; */
    border: solid 1px black;
    box-shadow: 1px 1px 1px black;
    margin: 3px;
    font-size: 16px;
    padding: 4px;
}

.blogType{
    width: 20%;
    float: left;
}

.blogTitle{
    width: 60%;
    float: left;

}

.blogHeadline{
    background-color: black;
    color: white;
    padding: 3px;
}

#backToTop{
    text-align: center;
    margin: 30px;
}

input [type='text'], input [type='password']{
    display: grid;
    margin: 20px;
}
