.gallery section div p{
    display: ;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallery img{
    width: 100%;
    padding: 1px;
    box-shadow: 1px 1px 4px;
    border-radius: 5px;
}


@media screen and (max-width: 1100px) {
    .gallery{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}


@media screen and (max-width: 700px) {
    .gallery{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}