* { margin: 0; font-family: verdana;}

body{
    background: linear-gradient(60deg, antiquewhite 0%, rgb(66, 120, 255) 100%);
    display: flex;
    flex-direction: column;
  }

ul {
    list-style-type: none;
}

a{
    color: black;
    text-decoration: none;
    font-variant: small-caps;
}

p{
    font-size: 12px; 
    text-align: center;   
}

h3, h4, h5{
    padding-bottom: 5px;
    font-variant: small-caps;
}

hr.break{
    background-color: black;
    height: 2px;
    width: 100%;
    min-width: 20px;
    box-shadow: 1px 1px 4px rgb(230, 80, 0, 75%);
    margin-bottom: 50px;
}

section.break{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 10px;
    margin-top: 100px;
}

div.break{
    justify-content: center;
}



.break h5{
    padding: 0px 10px;
}


/**************** HEADER ****************/
header{
width: 100%;
justify-content: center; 
flex-wrap: nowrap;
position: fixed;
top: 0px;
right: 0px;
border: 4px double orangered;
border-color: darkorange;
background-color: rgb(22, 22, 22);
font-size: 50px;
text-align: center;
}

header p{
    color: orangered;
    text-shadow: 20px -5px 18px whitesmoke;
    font-size: 65px;
    font-variant: small-caps;
    padding-top: 20px;
}

header a:hover{
    text-shadow: 2px 2px 2px orangered;
}

.nav{
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.nav li{
    padding: 10px;
}

.nav a{
    color:rgba(190, 190, 230, 0.75);
}

.nav a:hover{
    font-size: 15px;
}


a:hover{
    text-shadow: 1px 1px rgba(250, 60, 0, 0.8);
}

ul{
    padding: 0px;
}

.tribar{
    display: none;
    color:rgb(250, 80, 0)
}

/**************** BODY ****************/

main{
    margin-top: 206px;
}

.video-container embed{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bg-top-img{
    background-image: url('klaserie_sunset_over_trees.JPG');
    background-size: cover;
    background-position: center;
    height: 500px;
    box-shadow: 0px 1px 10px 1px orangered;
    margin-bottom: 5px;
}

section{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    min-width: 150px;
    text-align: center;
}

#index{
    margin-top: 156px;
}

#index-topics-menu li{
    border: black;
    box-shadow: 0px 0px 2px 2px rgb(60, 60, 60);
    margin: 5px;
    padding: 1px 10px;
    background-color: whitesmoke;
}

#index-topics-menu a{
    color: black;
}

#index-topics-menu ul{
    display: flex;
    justify-content: center;
}

h4{
    font-variant: small-caps;
    padding: 3px 0px;
}

section p{ padding: 5px; }

.top{
    margin-bottom: 5px;
    box-shadow: 0px 5px 10px 8px rgba(255, 69, 0, 50%);
}

.update-topic{
    text-align: left;
    margin: 30px 30px;
}

.update-topic h4{
    margin-left: 10px;
    padding: 0px;
}

.bottom{
    margin-top: 5px;
    box-shadow: 0px -5px 10px 8px rgba(255, 69, 0, 50%);
}

.update{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 30px 50px 30px;
    gap: 30px;
}

.update article{
    height: 300px;
}

.update img{
    height: 70%;
    /* object-fit: cover; */
}

.update .hidden{
    display: none;
    position: absolute;
    top: 0px;
    background-color: rgba(190, 190, 230, 0.75);
    width: 100%;
}

.update .hidden img{
    width: 50%;
    margin: auto;
}

.update .hidden p{
    width: 80%;
    margin: auto;
}

.update h3{
    font-size: 14px;
}

.update .date{
    margin-left: 10px;
}

.close{
    position: absolute;
    top: 10px;
    right: 50px;
}




/* ABOUT */

.bio{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.bio img{
    width: 100%;
    max-width: 400px;
}

#me{
    box-shadow: 0px 1px 10px 1px black;
}

.codeImage-container{
    width: 80em;
    float: left;
}

.codeImage-container img{
    width: 100%;
    min-width: 100px;
    max-width: 400px;
}

#mainImage-container{
    width: 80em;
}

#mainImage-container img{
    width: 100%;
    min-width: 100px;
    max-width: 400px;
}



#stef-img{
    width: 75%;
    box-shadow: 0px 1px 10px 1px black;
}

#pets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

#pets img{
    width: 100%;

}

.pet{
    /* border 1px solid black; */
    font-size: 1.2vw;
    margin: 5px 0px 5px 0px;
    box-shadow: 0px 1px 5px 1px black;
}

#associated{
    display: block;
}

#associated p{
text-align: center;
}

#associated-links{
    padding: 20px;
    font-size: 12px;
}

#associated-links a{
    color: rgba(0, 0, 0);
}

#associated-links li{
    margin: 5px;
}

.photo-credit{
    font-size: 10px;
}

img.favicons{
    width: 30px;
    margin: 10px 5px;
    /* box-shadow: 0px 1px 1px 1px black; */
}

#minelab-logo{
    width: 50px;
}

.about-break-head{
    text-align: center;
    margin-bottom: 50px;
}


/* CODE */
#projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

#code h4{
    border: none;
    margin-bottom: 5px;
}

.desc{ /* code page */
    display: block;
    width: 80%;
    margin: auto;
}

#code section{
    margin-bottom: 50px;
}


#code img{
    width: 50%;
    max-width: 400px;
    min-width: 100px;
    float: left;
    padding: 5px;
}

.project p{
    text-align: left;
}

.project-title{
    display: flex;
    width: 100%;
    justify-content: center;
    float: left;
}

.project div{
    border: black;
    box-shadow: 1px 0px 10px 1px black;
}

article{
    border: black;
    box-shadow: 1px 0px 10px 1px black;
    background-color: whitesmoke;
}

#index article{
    height: 300px;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 0px 1px 10px 1px rgb(0, 0, 0, 75%);
}


/* END OF CODE */



/* END OF ABOUT */

/* WOOD */

#wood{
    display: block;
    text-align: center;
}

.logo{
    width: 300px;
    margin-bottom: 50px;
}

/* END OF WOOD */


#metal-desc{
    grid-template-columns: 2fr 2fr;
}


.under_construction{
    display: block;
}



/**************** FOOTER ****************/
footer{
    margin: 50px 0px;
    font-variant: small-caps;
    text-align: center;
    font-size: 12px;
    color: rgb(0, 0, 0);
  }

footer hr{
    width: 100%;
    background-color: black;
    height: 1px;
    margin: 50px 0px;
    border: 0;
    box-shadow: 1px 1px 4px rgb(230, 80, 0, 75%);
}