* { margin: 0; font-family: verdana;}

ul {
    list-style-type: none;
}

body{
    background: linear-gradient(60deg, rgb(30 50 100) 0%, rgb(200 200 230) 100%)
  }

a{
    color: black;
    text-decoration: none;
    font-variant: small-caps;
    /* font-weight: bold; */
}

p{
    font-size: 14px;
    /* padding-bottom: 10px; */
}

h5{
    padding-bottom: 10px;
    font-variant: small-caps;
}


hr.break{
    background-color: black;
    height: 3px;
    width: 30%;
    min-width: 20px;
    box-shadow: 1px 1px 4px rgb(230, 80, 0);
}

section.break{
    display: flex;
    padding: 10px;
    margin-top: 100px;
}

div.break{
    width: 35%;
}

.break h5{
    padding: 0px 10px;
}


/**************** HEADER ****************/
header{
background-color: black;
width: 100%;
justify-content: center; 
flex-wrap: nowrap;
position: fixed;
top: 0px;
right: 0px;
}

.website-name{
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px rgba(100, 180, 255, .75);
  }
  
.website-name a{
    color: rgba(100, 100, 255, .75);
}

.website-name a:hover{
    /* color: rgba(250, 60, 0, 0.7); */
    text-shadow: 2px 2px rgb(250, 60, 0, 0.5);
    /* opacity: .75; */
}

#nav{
    font-size: 14px;
    display: flex;
    justify-content: center;
}

#nav li{
    padding: 10px;
}

#nav a{
    /* font-weight: 100; */
    color:rgba(190, 190, 230, 0.75);
}

#nav a:hover{
    font-size: 15px;
}


a:hover{
    text-shadow: 1px 1px rgba(250, 60, 0, 0.8);
}

ul{
    padding: 0px;
}

.nav-dots{
    display: none;
}

/**************** BODY ****************/
.container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    text-align: center;
    bottom: 0px;
}

section{
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
    min-width: 150px;
    justify-content: center;
}

section p{ padding: 10px; }

.image-container{
    width: 80em;
    float: left;
    max-width: 400px;
}

.codeImage-container{
    width: 80em;
    float: left;
}

.codeImage-container img{
    width: 100%;
    min-width: 100px;
    max-width: 400px;
}

#mainImage-container{
    width: 80em;
}

#mainImage-container img{
    width: 100%;
    min-width: 100px;
    max-width: 400px;
}

#myImage img{
    width: 100%;
    min-width: 100px;
    max-width: 400px;
}

.image-container img{
    width: 100%;
    min-width: 75px;
}

#pets{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

#pets img{
    width: 100%;
}

.pet{
    border: black;
    border-style: solid;
    font-size: 1.2vw;
    margin: 5px 0px 5px 0px;
}

#associated{
    display: block;
}

#associated-links{
    padding: 20px;
    font-size: 12px;
}

#associated-links a{
    color: rgba(0, 0, 0);
}

#associated-links li{
    margin: 5px;
}

.photo-credit{
    font-size: 10px;
}

img.favicons{
    width: 30px;
    margin: 10px 5px;
}

#minelab-logo{
    width: 50px;
}


/* END OF ABOUT */

/* WOOD */

#wood{
    display: block;
    text-align: center;
}

.logo{
    width: 300px;
    margin-bottom: 50px;
}

#wood p{
    /* margin: 50px; */
}

/* END OF WOOD */


#metal-desc{
    grid-template-columns: 2fr 2fr;
}


.under_construction{
    display: block;
}



/**************** FOOTER ****************/
footer{
    margin: 50px 0px;
    font-variant: small-caps;
    text-align: center;
    font-size: 12px;
    color: rgb(0, 0, 0);
    /* padding: 20px; */
  }

footer hr{
    width: 100%;
    background-color: black;
    height: 1px;
    margin: 50px 0px;
    border: 0;
}
